/*Media manager */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
  font-size: 62.5%;
  background-color: rgb(245, 245, 245);
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
  color: black;
}

.title {
  font-size: 5rem;
  font-weight: 600;
  transition: all 0.5s;
  padding-bottom: 4rem;
  text-shadow: 4px 2px 2px rgb(215, 0, 215);
}
@media (max-width: 56.25em) {
  .title {
    font-size: 8rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.navbar .logo {
  width: 24px;
}
@media (max-width: 56.25em) {
  .navbar .logo {
    width: 32px;
  }
}
.navbar-items-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: medium;
  width: 60rem;
}
.navbar-items-container-item {
  text-decoration: none;
  color: rgb(161, 46, 161);
}
.navbar-items-container-item:hover {
  color: purple;
}
@media (min-width: 112.5em) {
  .navbar-items-container-item {
    font-size: 2rem;
  }
}
.navbar-items-container-line {
  height: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}
@media (max-width: 56.25em) {
  .navbar-items-container {
    display: none;
  }
}
.navbar__hamburguer {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
}
.navbar__hamburguer__line {
  position: absolute;
  width: 100%;
  border: 2px black solid;
  border-radius: 20px;
}
.navbar__hamburguer__line-1 {
  top: 30%;
  transform: translateY(-30%);
}
.navbar__hamburguer__line-2 {
  top: 60%;
  transform: translateY(-60%);
}
.navbar__hamburguer--checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
@media (max-width: 56.25em) {
  .navbar__hamburguer {
    display: block;
  }
}

.main-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding-bottom: 5rem;
}
.main-section-container-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: yellow;
  background-image: url("../../public/images/portrait.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border: 8px solid black;
  transition: all 0.3s;
}
.main-section-container-img:hover {
  transform: rotate(-10deg);
  border-color: rgb(172, 0, 172);
}
@media (max-width: 56.25em) {
  .main-section-container-img {
    width: 175px;
    height: 175px;
  }
}
.main-section-container-info {
  width: 50%;
  padding-left: 5rem;
}
.main-section-container-info h1 {
  font-size: 4rem;
}
@media (max-width: 56.25em) {
  .main-section-container-info h1 {
    font-size: 5rem;
  }
}
@media (max-width: 37.5em) {
  .main-section-container-info h1 {
    font-size: 7rem;
  }
}
.main-section-container-info h3 {
  font-size: 2.5rem;
}
@media (max-width: 56.25em) {
  .main-section-container-info h3 {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .main-section-container-info h3 {
    font-size: 5rem;
  }
}
.main-section-container-info p {
  font-size: 2rem;
}
@media (max-width: 56.25em) {
  .main-section-container-info p {
    font-size: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .main-section-container-info p {
    font-size: 4rem;
  }
}
@media (max-width: 56.25em) {
  .main-section-container-info {
    padding-left: 0;
    padding-top: 5rem;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .main-section-container {
    flex-direction: column;
    height: 70vh;
  }
}
@media (max-width: 37.5em) {
  .main-section-container {
    flex-direction: column;
    height: 80vh;
  }
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7rem;
}
.project-section-content {
  width: 100%;
}
.project-section-content-grid {
  display: grid;
  row-gap: 3rem;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 37.5em) {
  .project-section-content-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
}

.work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7rem;
}
.work-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.work-section-content .title {
  align-self: self-start;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 150px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 6rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 3px 1.5px 0 4px #222222;
  padding: 3rem;
  transition: all 0.8s ease;
}
.card__side h3 {
  font-size: 3rem;
}
@media (max-width: 56.25em) {
  .card__side h3 {
    font-size: 5rem;
  }
}
.card__side h5 {
  font-size: 2.5rem;
  font-weight: 400;
}
@media (max-width: 56.25em) {
  .card__side h5 {
    font-size: 4rem;
  }
}
.card__side p {
  font-size: 1.8rem;
}
@media (max-width: 56.25em) {
  .card__side p {
    font-size: 3rem;
  }
}
.card__side-images {
  width: 100%;
}
.card__side-images > *:not(:nth-child(1)) {
  margin-left: 1rem;
}
.card__side-images-item {
  width: 30px;
  border-radius: 20%;
  display: inline-block;
}
.card__side-images-item img {
  border-radius: 20%;
  object-fit: cover;
  width: 100%;
}
.card__side--back {
  transform: rotateX(180deg);
}
.card__side__simple {
  transition: all 0.25s ease-in-out;
}
.card__side__simple:hover {
  box-shadow: 0 0 0 4px rgb(172, 0, 172);
}
.card:hover .card__side--front {
  transform: rotateX(-180deg);
}
.card:hover .card__side--back {
  box-shadow: 0 0 0 4px rgb(172, 0, 172);
  transform: rotateX(0);
}
@media (max-width: 56.25em) {
  .card {
    margin-bottom: 16rem;
  }
}
@media (max-width: 37.5em) {
  .card {
    margin-bottom: 3rem;
  }
}

.footer {
  background-color: rgb(213, 213, 213);
}

.about-me-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 5rem;
}
.about-me-section-content h3 {
  font-size: 3rem;
}
@media (max-width: 56.25em) {
  .about-me-section-content h3 {
    font-size: 5rem;
  }
}
.about-me-section-content p {
  font-size: 2rem;
}
@media (max-width: 56.25em) {
  .about-me-section-content p {
    font-size: 4rem;
  }
}
.about-me-section-content-image {
  width: 200px;
  height: 200px;
  background-image: url("../../public/images/portrait.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 8px solid black;
  margin-bottom: 5rem;
}

.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7rem;
}
.skills-section-content h3 {
  font-size: 5rem;
  padding-bottom: 5rem;
  text-shadow: 4px 2px 2px rgb(215, 0, 215);
}
@media (max-width: 56.25em) {
  .skills-section-content h3 {
    font-size: 10rem;
  }
}
.skills-section-content .list-container h4 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 56.25em) {
  .skills-section-content .list-container h4 {
    font-size: 6rem;
  }
}
.skills-section-content .list-container ul {
  list-style: none;
  text-align: center;
  padding-bottom: 3rem;
}
.skills-section-content .list-container ul li {
  font-size: 2rem;
}
@media (max-width: 56.25em) {
  .skills-section-content .list-container ul li {
    font-size: 4rem;
  }
}

.contact-section {
  padding: 2rem 0;
}
.contact-section h3 {
  font-size: 4rem;
}
@media (max-width: 56.25em) {
  .contact-section h3 {
    font-size: 5rem;
  }
}
.contact-section p {
  font-size: 2rem;
  padding-top: 2rem;
}
@media (max-width: 56.25em) {
  .contact-section p {
    font-size: 3rem;
    padding-bottom: 4rem;
  }
}
.contact-section-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-section-icons > *:not(.contact-section-icons:first-child) {
  padding: 2rem;
}
.contact-section-icons-icon {
  width: 84px;
  height: 84px;
  cursor: pointer;
}
.contact-section-icons-icon svg {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-section-icons-icon:hover svg {
  fill: purple;
}
@media (max-width: 56.25em) {
  .contact-section-icons-icon {
    width: 72px;
    height: 72px;
  }
}
@media (max-width: 37.5em) {
  .contact-section-icons-icon {
    width: 48px;
    height: 48px;
  }
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding-bottom-2rem {
  padding-bottom: 2rem;
}

.container {
  max-width: 50%;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .container {
    max-width: 80%;
  }
}

/*# sourceMappingURL=index.css.map */
