/*Media manager */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: rgb(245, 245, 245);
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
  color: black;
}

.title {
  font-size: 8rem;
  font-weight: 600;
}

.navbar {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar .logo {
  width: 24px;
}
.navbar-items-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: medium;
  width: 60rem;
}
.navbar-items-container-item {
  text-decoration: none;
}
.navbar-items-container-line {
  height: 2rem;
  border: 1px solid black;
  border-radius: 10px;
}

.main-section {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.main-section-container-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: yellow;
  background-image: url("../../public/images/portrait.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border: 5px solid black;
}
.main-section-container-info {
  width: 50%;
}
.main-section-container-info h1 {
  font-size: 4rem;
}
.main-section-container-info h3 {
  font-size: 2.5rem;
}
.main-section-container-info p {
  font-size: 2rem;
}

.project-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
}
.project-section-content {
  width: 60vw;
}
.project-section-content-grid {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 15rem;
}

.work-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
}
.work-section-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.work-section-content > * {
  margin-top: 3rem;
}

.card {
  width: 90%;
  height: 150px;
  padding: 1rem;
  box-shadow: 3px 1.5px 0 4px #222222;
  border-radius: 3px;
  background-color: white;
  transition: all 0.25s;
  cursor: pointer;
}
.card h3 {
  font-size: 3rem;
}
.card h5 {
  font-size: 2rem;
  font-weight: 400;
}
.card p {
  font-size: 1.5rem;
}
.card-images {
  width: 100%;
  margin-top: 2rem;
}
.card-images > *:not(:nth-child(1)) {
  margin-left: 1rem;
}
.card-images-item {
  width: 30px;
  display: inline-block;
}
.card-images-item img {
  object-fit: cover;
  width: 100%;
}
.card-work {
  width: 100%;
  padding: 3rem;
}
.card:hover {
  transform: translate(0, -5%);
  background-color: gray;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20rem;
  height: 400px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer > * {
  margin-left: 5rem;
}
footer .icon {
  width: 36px;
}
footer .icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=index.css.map */
