.about-me-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 5rem;

  h3 {
    font-size: 3rem;

    @include respond(tab-port) {
      font-size: 5rem;
    }

  }
  p {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 4rem;
    }
  }

  &-image {
    width: 200px;
    height: 200px;
    background-image: url('../../public/images/portrait.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 8px solid black;
    margin-bottom: 5rem;
  }

}
