.card {
  // width: 90%;
  height: 150px;
  padding: 3rem;
  box-shadow: 3px 1.5px 0 4px #222222;
  border-radius: 3px;
  background-color: white;
  transition: all 0.25s;
  cursor: pointer;

  h3 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2rem;
    font-weight: 400;
  }
  p {
    font-size: 1.5rem;
  }

  &-images {
    width: 100%;
    margin-top: 2rem;

    & > *:not(:nth-child(1)) {
      margin-left: 1rem;
    }

    &-item {
      width: 30px;
      // border-radius: 50%;
      display: inline-block;
      img {
        // border-radius: 50%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &-work {
    @include cardWidth(100%, 3rem);
  }

  &:hover {
    transform: translate(0, -5%);
    box-shadow: 0 0 0 4px rgb(172, 0, 172);

    // h3, h5, p {
    //   color: rgb(241, 241, 241);
    // }

    // .card-images {
    //   &-item {
    //     opacity: 0.5;
    //   }
    // }
  }
}
