.card {
  perspective: 150rem;
  position: relative;
  height: 150px; //check
  width: 100%;
  cursor: pointer;
  margin-bottom: 6rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 3px 1.5px 0 4px #222222;
    padding: 3rem;
    transition: all 0.8s ease;

    h3 {
      font-size: 3rem;

      @include respond(tab-port) {
        font-size: 5rem;
      }
    }

    h5 {
      font-size: 2.5rem;
      font-weight: 400;
      @include respond(tab-port) {
        font-size: 4rem;
      }
    }

    p {
      font-size: 1.8rem;
      @include respond(tab-port) {
        font-size: 3rem;
      }
    }

    &-images {
      width: 100%;
      & > *:not(:nth-child(1)) {
        margin-left: 1rem;
      }

      &-item {
        width: 30px;
        border-radius: 20%;
        display: inline-block;
        img {
          border-radius: 20%;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    &--front {
    }

    &--back {
      transform: rotateX(180deg);
    }

    &__simple {
      transition: all 0.25s ease-in-out;
      &:hover {
        box-shadow: 0 0 0 4px rgb(172, 0, 172);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateX(-180deg);
  }
  &:hover &__side--back {
    box-shadow: 0 0 0 4px rgb(172, 0, 172);

    transform: rotateX(0);
  }
  @include respond(tab-port) {
    margin-bottom: 16rem;
  }
  @include respond(phone) {
    margin-bottom: 3rem;
  }
}
