.project-section {
  @include section;

  &-content {
    width: 100%;
    &-grid {
      display: grid;
      row-gap: 3rem;
      column-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
