.work-section {
  @include section;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      align-self: self-start;
    }
  }
}
