.work-section {
  @include section;

  &-content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    & > * {
      margin-top: 3rem;
    }

    .title {
      align-self: self-start;
    }
  }
}
